<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Solicitudes pendientes</h5>
                  <span class="h2 font-weight-bold mb-0">{{quotationPending}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Cotizaciones en proceso</h5>
                  <span class="h2 font-weight-bold mb-0">{{quotationWorkInProgress}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-5">

    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Listado de cotizaciones</h3>
            </div>
            <div class="col text-right">
              <button [routerLink]="['/quotation']" class="btn btn-sm btn-primary">Visualizar todas</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">visualziar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let first of firstQuotation; index as i">
                <td scope="col">{{i + 1}}</td>
                <td scope="col">{{first.name}}</td>
                <td scope="col">{{first.createdAt | date}}</td>
                <td scope="col">
                  <a [routerLink]="['/view-quotation', first.code]" class="btn btn-success btn-sm">
                    Editar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-4 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Categoria de productos mas vendidos</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Cantidad de ventas</th>
                <th scope="col">Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let category of bestCategory'>
                <td scope="col">{{category.count}}</td>
                <td scope="col">{{category.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
