<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="
    min-height: 20%;
    background-size: cover;
    background-position: center top;
  ">
  <span class="mask bg-gradient-warning opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4">Listado de Comisiones</h6>
          <hr>
          <div class="row">
            <div class="col-12 text-right">
              <button class="btn btn-md btn-success btn-round btn-icon" (click)="open(newCommission)">
                <span class="btn-inner--icon">
                  +
                </span>
                <span class="btn-inner--text"> Nueva Comisión</span>
              </button>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="table-responsive">
              <table id="commision"
                class="table align-items-center table-flush row-border hover">
                <thead class="thead-light">
                  <tr>
                    <th width="10%">#</th>
                    <th width="40%">Descripcion</th>
                    <th width="10%">R. Inicial</th>
                    <th width="10%">R. Final</th>
                    <th width="40%">Porcentaje</th>
                    <th width="10%">Tipo</th>
                    <th width="10%">Estado</th>
                    <th width="10%">
                      acciones
                    </th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr *ngFor="let item of iCommissionSettings; index as i">
                    <th width="10%">{{ item.code }}</th>
                    <th width="40%">{{ item.description }}</th>
                    <th width="10%">{{ item.rangeInitial | currency:'USD':'' }}</th>
                    <th width="10%">{{ item.rangeEnd | currency:'USD':'' }}</th>
                    <th width="40%">{{ item.calculate == 1 ? '% ' : 'Q. ' }} {{ item.porcentaje | currency:'USD':'' }}</th>
                    <th width="10%">{{ getTypeDescription(item.type) }}</th>
                    <th width="10%"> <span
                        class="{{(item.status == 1) ? 'badge badge-success' : 'badge badge-danger'}}">{{(item.status == 1) ? 'ACTIVO' : 'INACTIVO'}}</span>
                    </th>
                    <th width="10%" colspan="2">
                      <button class="btn btn-success btn-sm"
                        (click)="open(updateCommission); getCommissionUpdate(item.code)">Actualizar</button>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #newCommission let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-default">Agregar nueva comisión</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="createCommissionSetting" (ngSubmit)="postCommission($event)">
        <div class="row">
          
          <div class="col-md-12 form-group">
            <label>Descripción Comisión</label>
            <input type="text" class="form-control" formControlName="description" />
          </div>

          <div class="col-md-6 form-group">
            <label>Rango Inicial</label>
            <input type="text" class="form-control" formControlName="rangeInitial" />
          </div>

          <div class="col-md-6 form-group">
            <label>Rango Final</label>
            <input type="text" class="form-control" formControlName="rangeEnd" />
          </div>

          <div class="col-md-6 form-group">
            <label>Cálculo</label>
            <select class="form-control" formControlName="calculate">
              <option value="1">PORCENTAJE</option>
              <option value="2">FIJO Q.</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label>Valor</label>
            <input type="text" class="form-control" formControlName="porcentaje" />
          </div>

          <div class="col-md-6 form-group">
            <label>Tipo</label>
            <select class="form-control" formControlName="type">
              <option value="0">Seleccione Tipo</option>
              <option value="1">PERSONAL</option>
              <option value="2">PRODUCTIVIDAD</option>
              <option value="3">CONJUNTO</option>
              <option value="4">PERSONAL SUPERIOR</option>
            </select>
          </div>

        </div>
        <button type="submit" class="btn btn-info">
          Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="getDismissReason('Close click')">
          Cancelar
        </button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #updateCommission let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-default">Actualizar Comisión</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="updateCommissionSetting" (ngSubmit)="putCommission($event)">
        <div class="row">
          
          <div class="col-md-12 form-group">
            <label>Descripción Comisión</label>
            <input type="text" class="form-control" formControlName="description" />
          </div>

          <div class="col-md-6 form-group">
            <label>Rango Inicial</label>
            <input type="text" class="form-control" formControlName="rangeInitial" />
          </div>

          <div class="col-md-6 form-group">
            <label>Rango Final</label>
            <input type="text" class="form-control" formControlName="rangeEnd" />
          </div>

          <div class="col-md-6 form-group">
            <label>Cálculo</label>
            <select class="form-control" formControlName="calculate">
              <option value="1">PORCENTAJE</option>
              <option value="2">FIJO Q.</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label>Valor</label>
            <input type="text" class="form-control" formControlName="porcentaje" />
          </div>

          <div class="col-md-6 form-group">
            <label>Tipo</label>
            <select class="form-control" formControlName="type">
              <option value="0">Seleccione Tipo</option>
              <option value="1">PERSONAL</option>
              <option value="2">PRODUCTIVIDAD</option>
              <option value="3">CONJUNTO</option>
              <option value="4">PERSONAL SUPERIOR</option>
            </select>
          </div>
          
          <div class="col-md-6 form-group">
            <label>Estado</label>
            <select class="form-control" formControlName="status">
              <option value="1">ACTIVO</option>
              <option value="2">INACTIVO</option>
            </select>
          </div>

        </div>
        <button type="submit" class="btn btn-info">
          Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="getDismissReason('Close click')">
          Cancelar
        </button>
      </form>
    </div>
  </div>
</ng-template>

